<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<configuration debug="false" scan="false" scanPeriod="60 seconds">

    <!--Levels are ordered: TRACE < DEBUG < INFO < WARN < ERROR -->
    <property name="pattern" value="%date{HH:mm:ss.SSS} - %5level - [%30.-30thread] - %-20logger{0} - %message%n" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="de.freese.jsync" level="INFO" />
    
    <!--logger name="io.rsocket.FrameLogger" level="INFO" />
    <logger name="reactor" level="INFO" />
    <logger name="reactor.netty.tcp.TcpServer" level="INFO" /-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
</configuration>
